.heading
{
	color:white;
	overflow:hidden;
}

.center {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.center1 {
    position: relative;

    left: 50%;
    transform: translateX(-50%);
}
.con
{
	padding-top:70px;
	padding-bottom:50px;

}.img
{
	padding-bottom:5%;
}
.footer
{ 
    padding-left:-5%;
	margin-top:5%;
	height:250px;
	width:108%;
	background-color:#000000;
	margin-left:-10%;
	position:absolute;
}